.main{ 
    width:100%;
    border-bottom: 1px solid rgb(234, 225, 225);
    height: auto;
    overflow: hidden;
    display:flex; 
    justify-content:space-between;
    align-items: center;

    
}

.img { 
    width:70px;
}

.changed{ 
    position: relative;
  
    display:flex;
    align-items: center;
    padding:5px;
   
    
}
.btn{ 
  position: relative;

  margin-right:5px;
  margin-left:5px;
  width:20px;
  height:15px;
  border:none;
  color: white;
  background: #0072ff;
}

.description{ 
    font-size:10px;
   
}
.price {
    font-size:16px;
    
}

.svg {
    margin-right:10px;
    cursor:pointer;
}

