
.App{
    overflow:hidden;
}

.text{
    margin-left:3vw;
    margin-top:22vh;
    transition:0.4s;
    width: 97%;
    height:100%;
    margin-right:2vw;
    display:flex;
   
 

}


.text2{
    width: 70%;
    height:100%;
    margin-left:32%;
    margin-top:22vh;
    transition:0.4s;
    margin-right:2vw;
    display:flex;
   
}

.auth{
    display: flex; 
    justify-content:center; 
    align-items: center;
    
    width:100%;
    height:100vh;
}

.modal{ 
    left:0;
    top:0;
    position:fixed;
    z-index:9999; 
    width:100%; 
  
    height:100vh;
    background:rgba(0,0,0,0.4);
    
    display:flex;
    justify-content: center;
    align-items:center;

}
.modal_none{ 
    display:none


}

.inner{ 
    background: white;
    width:35vw;
    height:35vh;
    border-radius:8px;
    display:flex; 
    justify-content:center;
    flex-direction:column;
    align-items: center;
    
    
    
}

.input{ 
    margin-bottom:3vh;
    width:70%;
    height:3vh;
}

.whole{ 
    margin-top:25vh;
    display:flex;
    flex-wrap: wrap;
    width:100%;
    height:200vh;
    margin-left:15px;
}

