.main{
    width:100%; 
    height:100%;
    display:flex;
    
    flex-direction: column;
    margin-top:25vh;
    align-items:center;
    font-family: inherit;
  
    
   
    

}

h1{ 
    font-family:  Lato,Helvetica Neue,Arial,sans-serif;;
    
}

b{
    color:#0072ff;
    font-weight:bolder;
}

.text{ 
    
    padding:5px 15px;
    display:flex;
    flex-direction: column;
    align-items: center;
    top:0;
    font-family: Lato,Helvetica Neue,Arial,sans-serif;
    width:40%;
    text-align: center;

}
.p{
    color: #8191a5;
    font-weight: 400;
    line-height: 22px;
    margin: 20px auto 30px;
    max-width: 500px;
    
}

.vertical{ 
    border-left:2px solid black;
    height:15vh;
}
.steps{ 
    display:flex; 
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footer{ 
    margin-top:2rem;
    width:100%;
    height:20vh;
    color:white;
    background-color: #0072ff;
    padding:5px 15px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.btn{
    font-size: 15px;
    font-weight: 700;
    height: 45px;
    justify-content: center;
    padding: 6px 36px;
    color:black;
    background:white;
    border-width: 0;
    border-radius: 5px;
    cursor:pointer;
}