.main{ 
   
    margin-top:20vh;
    height:auto; 
    width:100%;
    padding-top:5vh;
   

}

.headlight{ 
    width:100%;
    display:flex;
    
}

.text1{ 
    
    font-family: inherit;
    font-size:2.5vh;
    margin-right:3px;
    color:rgb(94, 92, 92);
   
}

.text2{ 
    font-family: inherit;
    font-size:2.5vh;
    margin-right:3px;
    color:#0072ff;
}

.block{ 
    
    margin-left:10vw;
    width: calc(100% - 368px);
    display:block;
    
}

.line{ 
    width:100%; 
    background-color:#0072ff; 
    height:1px;
    margin-top:1vh;
}

.posts_main{ 
    margin-top:5vh;
    display:flex;
    justify-content: space-between;
    
    
    width:100%;
    height:20vh;
    overflow: hidden;
    border-bottom: 1px solid #6d6c6e;
    cursor:pointer;

}

.left{ 
    width:80%;
}
.right{ 
    margin-right:0px;
    width:20%;
    margin-bottom:1.5vh;
}

.img{
    margin-right:0px;
    width:100%;
    height:100%;
    

}
.main__text{ 
    margin-top:1.5vh;
    font-family: inherit;
    font-size:2vh;
}

.date{ 
    margin-bottom:1vh;
    color: #737373;
    display: inline-block;
    font: 400 10px/1.4 Work Sans,sans-serif;
    letter-spacing: -.1px;
    white-space: nowrap
}



@media only screen and (max-width:900px){
    .block{ 
       width:100%;
       height:auto;
   }

   .left{
    width:60%; 

   }

   .right{ 
    width:40%;
   }

   .posts_main{
    height:auto;
   }
    
}